body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: arial;
}
h1 {
    margin: 0 auto 0 auto;
    font-size: 5.625rem;
    margin: 70px auto 0 auto;
    color: #66BFbf
}
h2 {
    color:#11999e;
    padding-bottom: 10px; ;
    
}

 h3 {
    color:#11999e
}

p {
    line-height: 2;
}

.topContainer {
background-color: #E4F9F5;
position: relative;
padding-top: 100px;
}

.middle-container {
margin: 100px 0;
}

.bottom-container {
  font-family: 'Montserrat', sans-serif;
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

a{
 color: #11999e;   
 font-family: 'Montserrat', sans-serif;
 margin: 10px 20px;
 text-decoration: none;

}

a:hover {
    color: #eaf6f6
}

.intro {
    width: 30%;
    margin: auto;
}

.contact-message {
width: 40%;
margin: 40px auto 60px;
}
.bottom-cloud {
    position: absolute;
    left: 385px;
    bottom: 200px;
}

.top-cloud {
    position: absolute;
    right: 200px;
    top: 109px;
}

.paraGraph {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
    font-size: 2.5rem;
    color:#66BFbf;
    font-weight: normal;
    
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

hr {
   border: dotted #044e37 6px;
   border-bottom: none; 
   width: 4%;
   margin: 100px auto;
}

.code-img {
width: 25%;
float: left;
margin-right: 30px;
}

.chilli-img {
width: 25%;
float: right;
margin-left: 30px;
}

.image-avatar {
    width: 15%;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc);
    text-decoration: none;
  }

  .copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
  }
